<!-- Remove the container if you want to extend the Footer to full width. -->
<div clas="rentacar-footer" >
  <!-- Footer -->
  <footer
          class="text-center text-lg-start text-white "
          style="background-color: #3e4551"
          >
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0 ">
            <h5 class="text-uppercase">Rent A Car</h5>
            <div>
                <p>&copy; 2024 Rent A Car. All rights reserved.</p>
                <!-- Diğer global bilgiler -->
            </div>
        </div>
