.rentacar-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 20rem; // İhtiyacınıza göre ayarlayın
  background-color: #3e4551;
  color: #fff;
  padding: 20px; // İstenilen padding değeri
}
.content {
  margin-bottom: 0; // Alt margine sıfır değeri
}
